{% extends 'shop/base2.html' %}

{% block content %}
    <div class="content-wrapper">
        <div class="form-container">
            <h2>Confirmer la suppression</h2>
            <p>Êtes-vous sûr de vouloir supprimer le produit "{{ product.name }}" ?</p>
            
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Supprimer</button>
                <a href="{% url 'productlist' %}" class="btn btn-secondary">Annuler</a>
            </form>
        </div>
    </div>
{% endblock %}
